[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
werkzeug = "*"
flask-dotenv = "*"
gunicorn = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
boto3 = "*"
flask-migrate = "*"
flask-cors = "*"
flask-jsglue = "*"
flask-socketio = "*"

[dev-packages]

[requires]
python_version = "3.9"
