.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  overflow: hidden;
}

#signupform, #loginform, #add_album_form, #add_song_form, #create_forum {
  display: flex;
  flex-direction: column;
  width: 30vw;
  max-height: 80vh;
  background-color: black;
  padding: 30px;
  border-radius: 5px;
  color: white;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

#signupform input, #loginform input, #add_album_form input, #add_song_form input{
  background-color: navy;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
  margin-top: 2px;
  margin-bottom: 10px;
}

input:focus {
  outline: hidden;
}

.form_modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#community_form {
  position: absolute;
}

.form_background {
  position: relative;
  background-image: url('../public/bluestar.jpg');
  background-size: cover;
  overflow: hidden;
}

.record_image {
  position: absolute;
  width: 75vw;
  animation: eclipse 60s linear, spin 2s linear infinite;
  z-index: 0;
  left: 12.5%;
  top: 12.5%;
}

@keyframes eclipse {
  from {
    left: 75%;
    top: 75%;
  }
  to {
    left: 12.5%;
    top: 12.5%;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.drop_zone {
  width: 100%;
  height: 10vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: navy;
  border-radius: 2px;
}

.album_main {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "nav nav nav"
                          "albums albums albums"
                          "soundDisplay player uploading";
  grid-template-rows: 10vh auto 15%;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url('../public/deeprecord.jpg');
  background-size: cover;
  overflow-y: hidden;
  z-index: -2;
  /* background: none; */
}

.album_display, .shadow {
  position: relative;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  grid-area: albums;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  z-index: 1;
}

.album_display::-webkit-scrollbar, .shadow::-webkit-scrollbar, .record_list::-webkit-scrollbar, 
.song_list::-webkit-scrollbar, form::-webkit-scrollbar, #intro_grid::-webkit-scrollbar, #post_container::-webkit-scrollbar, #forum_navigation::-webkit-scrollbar {
  display: none;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.5);
}

.album {
  /* width: 70vh;
  height: 70vh; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: relative;
  margin-left: 15px;
  background: none;
}

.album_wrapper {
  /* width: 50vh;
  height: 50vh; */
  /* background-color: turquoise; */
  background-size: contain;
  /* transition: width 0.1s, height 0.1s; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.album_wrapper:hover {
  border: 3px black solid;
  margin-top: 10px;
}

.album_wrapper h1 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 2vh;
}

div.album_wrapper_single {
  position: relative;
  width: 35vw;
  height: 35vw;
  max-width: 70vh;
  max-height: 70vh;
  padding: 0px;
  z-index: 10;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.album_wrapper button, .album_wrapper_single button {
  margin-bottom: 10px;
  /* width: 50px */
}

.scrollBuffer {
  height: 100%;
  padding: 30vw;
}

/* .album_wrapper h1 {
  font-size: 5vh;
} */

.song_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.list {
  width: 25vh;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 6vh;
  margin-top: 6vh;
  margin-right: 1vw;
}

.record_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.record {
  background-image: url('../public/tinyrecord.png');
  background-size: contain;
  width: 25vh;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6vh;
  margin-top: 6vh;
  margin-right: 1vw;
}

.album_single {
  display: flex;
  align-items: center;
}

.record_player {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: player;
  position: relative;
}

.record_player div {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  width: 100%;
  position: absolute;
  top: 0px;
}

.record_player img{
  /* position: relative; */
  width:100%;
  height: 100%;
  animation: spin 2s linear infinite;
  /* position: absolute; */
}

.navbar {
  grid-area: nav;
  display:grid;
  grid-template-areas: 'search . logout';
}

.logout {
  grid-area: logout;
  display: flex;
  justify-content: end;
}

.logout button {
  font-size: 1vw;
}

.uploading {
  grid-area: uploading;
}

#soundDisplay {
  /* grid-area: soundDisplay; */
  /* display: flex; */
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  display: flex;
  align-items: center;
}
#soundDisplay2 {
  /* grid-area: soundDisplay; */
  /* display: flex; */
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.soundBar {
  display: inline-block;
  background-image: url('../public/smalldeep.jpg');
}

button, .album_single h1 {
  width: 7vw;
  background: none;
  border: none;
  color: white;
  border-radius: 10vw;
  /* border: black 3px solid; */
  background-color: rgba(65, 65, 65, 0.5);
  box-shadow: 0 0 .5vw black, 0 0 .5vw black;
  margin: .5vw;
  height: 1.5vw;
  font-size: 1vw;
}

.album_single h1 {
  width: 100%;
  font-size: 1.5vw;
  height: 2vw;
}

form button {
  width: 100%;
  padding: 5px;
  margin: 0px;
  margin-top: 10px;
}

button:hover {
  background-color: black;
  border: navy 2px solid;
}

.album_single h1 {
  display: flex;
  justify-content: center;
}

#album_buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#album_buttons button {
  width: 4vw;
  height: 1.5vw;
  font-size: .6vw;
}

.sideDisplay, .songComponent {
  display: flex;
  align-items: center;
}

.songComponent {
  margin-left: 30px;
  
}

.sideDisplay button {
  width: 7.3vw;
  padding: 3px;
  margin: 0;
  margin-left: 10px;
}

.songComponent button {
  width: 5vw;
  margin: 0;
  margin-left: 10px;
  font-size: .6vw;
}

.songComponent button:hover, .sideDisplay button:hover {
  background-color: rgb(83, 0, 0);
  border: none;
}

#splashButtons {
  width: 100%;
  display: flex;
  justify-content: end;
  position: absolute;
}

#searchBar {
  display: flex;
  justify-content: start;
  padding: 10px;
}

#searchBar input {
  background-color: rgba(65, 65, 65, 0.5);
  box-shadow: 0 0 .5vw black, 0 0 .5vw black;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
  height: 1vw;
}

#searchBar input:focus {
  border: navy 2px solid;
  outline: none;
  /* background-color: darkred; */
}

#splashContent {
  width: 80vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

#splashTitle {
  width: 100%;
  background-image: url('../public/logo.png');
  height: 20vh;
  /* background-position: fixed; */
  background-size: 80vw 20vh;
  position: static;
}

#introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  /* overflow-x: hidden;
  overflow-y: scroll; */
   
  color: white;
  position: relative;
}

#intro_grid {
  display: grid;
  grid-template-areas: 'grid_title grid_title grid_title'
                        'step_one step_one img_one'
                        'img_two step_two step_two'
                        'step_three step_three img_three'
                        'img_four step_four step_four'
                        ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  overflow-x: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  padding: 10px
}

#grid_title {
  grid-area: grid_title;
}

#step_one {
  grid-area: step_one;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img_one {
  grid-area: img_one;
  width: 10vw;
}

#step_two {
  grid-area: step_two;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img_two {
  grid-area: img_two;
  width: 10vw;
}

#step_three {
  grid-area: step_three;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img_three {
  grid-area: img_three;
  width: 10vw;
}

#step_four {
  grid-area: step_four;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img_four {
  grid-area: img_four;
  width: 10vw;
}

#community_display {
  grid-area: albums;
  display: grid;
  grid-template-areas:
                      'forumnav posts posts';
  grid-template-columns: 15vw auto;
  width: 100vw;
  height: calc(100vh - 10vh - 20%)
}

#posts {
  grid-area: posts;
  color: white;
  padding: 10px;
  height: calc(100vh - 10vh - 20%);
}

#post_container {
  height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

#forum_navigation {
  grid-area: forumnav;
  color: white;
  padding: 10px;
  height: calc(100vh - 10vh - 15%);
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.post_content{
  display: grid;
  grid-template-areas: 'profile_image username edit_buttons'
                        'content content content';
  grid-template-columns: 7% auto 30%;
  /* grid-template-rows: 1fr 2fr; */
  width: 80%;
  color: white;
  min-height: 10vh;
  max-height: fit-content;
  border-radius: 2vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.profile_image {
  grid-area: profile_image;
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  grid-area: username;
  display: flex;
  justify-content: start;
  align-items: center;
}

.edit_buttons {
  grid-area: edit_buttons;
  display: flex;
  justify-content: end;
  align-items: center;
}

.content {
  grid-area: content;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.forum_content {
  display: flex;
}

.forum_content p {
  max-width: 50%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.forum_content button {
  font-size: 0.7vw;
  width: 4vw;
}

.forum_content button:hover {
  background-color: red;
}