.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#signupform, #loginform, #add_album_form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  background-color: black;
  padding: 30px;
  border-radius: 5px;
  color: white;
  z-index: 1;
}

#signupform input, #loginform input, #add_album_form input{
  background-color: maroon;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
  margin-top: 2px;
  margin-bottom: 10px;
}

input:focus {
  outline: hidden;
}

.form_modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.form_background {
  position: relative;
  background-image: url('../public/sun2.jpg');
  background-size: 100vw 100vh;
  overflow: hidden;
}

.record_image {
  position: absolute;
  width: 75vw;
  animation: eclipse 60s linear, spin 2s linear infinite;
  z-index: 0;
  left: 12.5%;
  top: 12.5%;
}

@keyframes eclipse {
  from {
    left: 75%;
    top: 75%;
  }
  to {
    left: 12.5%;
    top: 12.5%;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.drop_zone {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.react-fetch-progress-bar {
  position: relative;
  background-color: red !important;
  height: 10px;
  width: 200px;
}

.album_main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "nav nav nav"
                          "albums albums albums"
                          "player player player";
  grid-template-rows: 100px auto 15%;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url('../public/DeepSpace.jpg');
}

.album_display {
  position: relative;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  grid-area: albums;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.album_display::-webkit-scrollbar {
  display: none;
}

.album {
  width: fit-content;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: static;
  margin-left: 15px;
  background: none;
}

.album_wrapper {
  width: 50vh;
  height: 50vh;
  /* background-color: turquoise; */
  background-size: cover;
  transition: width 0.2s, height 0.2s, rotate 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  /* transform: rotatez(5deg) */
}
.album img {
  /* width: 100%; */
  height: 100%;
  /* object-fit: cover; */
}

.album_wrapper:hover {
  /* transform: rotateZ(0deg); */
}

.album_wrapper:hover, .album_wrapper_single {
  position: absolute;
  width: 60vh;
  height: 60vh;
  /* border: 3px black solid; */
  padding: 0px;
  z-index: 10;
  /* object-fit: cover; */
}

.album_wrapper_single {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.album_wrapper button, .album_wrapper_single button {
  margin-bottom: 10px;
  /* width: 50px */
}